<div class="sliderDivContainer" id="sliderContainer{{ID}}">

    <div>
        <p class="valueText" id="">{{sliderText}}</p>
        <div class="icon ion-arrow-left-b sliderIconLeft"></div>
        <input class="slider sliderInput" id="slider{{ID}}" type="text" data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="5" value="5" />
        <div class="icon ion-arrow-right-b sliderIconRight"></div>
    </div>

    <div class="valueBox">
        <p class="sliderValue">5</p>
    </div>
</div>